.board-content>h3{
background-color: rgb(195, 233, 129);
text-align: center;
margin-left: 35%;
margin-right: 35%;
height: 60px;
border-radius:10px ;
padding-top: .8%;
}
.board-content{
    padding-top: 5%;
}
.modal-header{
    display: flow-root;
}
.Distributedcard
{display: flex;
flex-flow: row;
gap: 10px;}